* {
  margin: 0;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: "proxima-nova", Helvetica, sans-serif !important;
}

footer.footer, .push {
  height: 30px; /* .push must be the same height as .footer */
  clear: both;
}

/*
 * =========================
 * Header
 * =========================
 */

.header.jumbotron {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  overflow: hidden;
  height: 250px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header.jumbotron {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 50px;
  }

  .header.jumbotron img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.header.jumbotron .text {
  color: #fff;
  margin-top: 65px;
  font-size: 30px;
}

.header.jumbotron .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
}

.header.jumbotron p.text {
  display: block;
  font-size: 40px;
  margin-top: 150px;
}

/*
 * =========================
 * Main Nav
 * =========================
 */

.navbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none;
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.navbar.bg-white {
  background: #fff !important;
}

.navbar-toggle {
  border: 0;
}

.navbar-toggle:hover {
  background-color: transparent !important;
}

 .navbar-toggle .icon-bar {
 }

 .navbar.bg-white .navbar-brand a {
   color: #aaa !important;
 }

 .navbar .navbar-brand a,
 .navbar .navbar-brand a:hover {
   text-shadow: none;
   float: inherit;
   color: #fff;
   text-decoration: none;
 }

.navbar.bg-white .navbar-nav > li > a {
  color: #aaa !important;
}

.navbar.bg-white .navbar-nav > li > a:hover {
  color: #333 !important;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover {
  color: #fff !important;
  border-bottom: solid 1px transparent;
}

.navbar-nav > li > a:hover {
  border-bottom: solid 1px #fff;
}

.mobile-nav {
  background-color: #ff8d45 !important;
  height: 50px;
  color: #fff !important;
  padding-left: 35px;
}

.mobile-nav ul {
  margin: 0;
}

.mobile-nav li a {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mobile-nav li a:hover {
  color: #fff;
}

.mobile-nav li {
  margin: 15px 0;
  margin-right: 15px;
}

.mobile-nav li::after {
  margin-left: 20px;
  content: '/';
}

.mobile-nav li:last-child::after {
  content: '';
}

.mobile-nav ul li:first-child {
  border-left: none;
}

.nav.navmenu-nav {
  margin-bottom: 0;
}

.navmenu li {
  border-bottom: solid 1px #ddd;
}

.navmenu li:first-child {
  border-top: solid 1px #ddd;
}

/*
 * =========================
 * Sidebar
 * =========================
 */

.sidebar {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(204, 204, 204, 0.5);
}

.sidebar .section {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

/*
 * =========================
 * Card
 * =========================
 */

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border-radius: 3px;
}

.card .card-block {
  padding: 20px;
  position: relative;
}

.card .card-block .card-title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card .card-block .card-title::before {
  position: absolute;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  left: 40px;
  top: 59px;
  content: ''
}

.card .card-block a {
  color: #81D8D0;
}

.card .card-block a:hover {
  color: inherit;
  text-decoration: none;
}

.card .card-footer {
  padding: 15px 20px;
  background: #f9f9f9;
  color: #9B9B9B;
}

/*
 * =========================
 * Forms
 * =========================
 */

 .form-control:focus {
   box-shadow: none;
 }

 .btn:focus {
   outline: none;
 }

/*
 * =========================
 * New Post
 * =========================
 */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
 * =========================
 * Posts
 * =========================
 */

.posts-view {
  background-color: #f5f8fa;
}


/*
 * =========================
 * Post
 * =========================
 */

 .post-template .footer {
   background: #fff !important;
 }

 .post-template .push {
   background: #fff !important;
 }

 .post-title {
   font-weight: normal;
   text-transform: uppercase;
   letter-spacing: 3px;
 }

p > img {
  width: 100%;
}

/*
 * =========================
 * Sections
 * =========================
 */

.section.instagram img {
  padding: 0;
  margin-bottom: 3px;
}

.section.instagram .col-xs-6 {
  padding: 0;
}

/*
 * =========================
 * Logo
 * =========================
 */

.logo-container {
  margin-top: 75px;
}

.logo-container .logo {
  color: #4caf50;
}

/*
 * =========================
 * Utilities
 * =========================
 */

 .max-height {
   height: 100%;
 }

 .m-l-1 {
   margin-left: 5px;
 }

 .home {
   padding: 30px;
 }

.face {
  width: 120px;
  vertical-align: middle;
}

.capitalize {
  text-transform: capitalize;
}

.bg-gray {
  background-color: #f5f8fa;
}

.full-height {
  height: 100%;
}

.tiffany-light {
  color: #81D8D0;
}

.m-t-1 {
  margin-top: 7px !important;
}

.m-t-2 {
  margin-top: 15px !important;
}

.m-t-3 {
  margin-top: 20px !important;
}

.m-b-1 {
  margin-bottom: 7px !important;
}

.m-b-2 {
  margin-bottom: 15px !important;
}

.m-b-3 {
  margin-top: 20px !important;
}

.m-r-1 {
  margin-right: 7px !important;
}

.p-t-3 {
  padding-top: 20px;
}

a.no-link {
  color: #fff;
}

a.no-link:hover {
  color: #fff;
}

.min-full-height {
  min-height: 100%;
}

.responsive-images img {
  width: 100%;
}

.post-content-container {
  margin-top: -50px;
  padding: 20px;
  padding-top: 40px;
  background: #fff;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(221,221,221,0.3);
  -moz-box-shadow: 2px 0px 3px 0px rgba(221,221,221,0.3);
  box-shadow: 2px 0px 3px 0px rgba(221,221,221,0.3);
}

.post-content {
  background: #fff;
  padding: 0 100px;
}

.post-view {
  background: #f7f7f7;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
